@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bad+Script&family=Krona+One&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  /*background: url() no-repeat center center fixed;
  background-size: cover;*/
  width:100vw;
  overflow-x: hidden;
}

h3{
  font-family: 'Anton', sans-serif;
   text-align: center;
   padding:5px;
   letter-spacing: 2px;
}

::-webkit-scrollbar {
  height: 10px;              /* height of horizontal scrollbar ← You're missing this */
  width: 10px;               /* width of vertical scrollbar */
  
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:  #ffa500;
  border-radius: 1rem;
}

#logo img{
  width:28rem;
  padding-top:5px;
}




/*digital clock*/
.display-clock {
    font-family: 'Orbitron', sans-serif;
    margin: auto;
    padding:0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    color:#ff6045;

}

.display-date {
    font-family: 'Orbitron', sans-serif;
    margin:0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color:#0944AD;
}

.min {
    position: absolute;
}

.max {
    margin-left: 4rem;
}


/*weather*/
#forecast{
  font-family: 'Orbitron', sans-serif;
  padding:10px;
  color:#0944AD;
}

#icon{
  width:60px;
  margin:0 10px;
}

#temp, #weather, #location{
  color:#ff6045;
}

#temp{
  font-weight: bolder;
}

#weather{
  text-transform: capitalize;
}

#stats{
  margin-left:21px;
}

#forecast button{
  border:0;
  background-color: transparent;
  color:#0944AD;
}

#forecast button i{
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
#forecast button i:active{
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

/*heading*/

.head{
  display:none;
}

.head90{
  padding-top: 10vh;
}


/* Prayer Times */
.prayer-container {
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;
    text-align: center;
    min-height:16vh;
    -webkit-box-shadow: 0px 2px 8px 1px #000000; 
    box-shadow: 0px 2px 8px 1px #000000;
}

.prayer-container{
    background-image: url(img/pray.jpg);
    background-position:left bottom;
    background-size:cover;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#prayer_clock, #prayer_city, #prayer_date{
    display:none;
}

table{
  margin-left: auto;
  margin-right: auto;
}
td{
  width:80px;
  color:#fff;
  background-color: rgba(204, 204, 204, 0.4);
}

td:nth-child(odd) {
  background-color: rgba(166, 166, 166, 0.4);
}




/*quote*/

.qWrapper{
    border-radius: 10px;
    text-align: center;
    background-color: #ff6045;
    border:5px solid #ff6045;
    font-family: 'Anton', sans-serif;
    color:#0944AD;
    height:18vh;
    overflow-y: scroll;
    padding: 5px 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 8px 1px #000000; 
    box-shadow: 0px 2px 8px 1px #000000;
}

#quote{
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Bad Script', cursive;
    color:#fff;   
}

#author{
    text-align: end;
    padding-right: 30px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}


/*youtube*/

.youtube{
  overflow-y: scroll;
  height:45vh;
  background-color:red;
  border-radius: 10px;
  border:5px solid red;
  text-align: center;
  -webkit-box-shadow: 0px 2px 8px 1px #000000; 
  box-shadow: 0px 2px 8px 1px #000000;
}

/*.youtube::-webkit-scrollbar-thumb {
  background: #ffa500;
}*/

.youtube h3{
  color:#fff;
}

.video{
  padding:10px 10px;
}

.video button{
  display:none;
}

.video iframe{
  width:500px;
  height: 281px;
}

.video li{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}


/*summary*/

.summary{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 20px;
  padding: 10px 20px;
  height: 25vh;
  overflow-y: scroll;
  border:5px solid #fff;
  border-radius: 10px;
  color:#000;
  -webkit-box-shadow: 0px 2px 8px 1px #000000; 
  box-shadow: 0px 2px 8px 1px #000000;
}

/*.summary::-webkit-scrollbar-thumb {
  background: #0944AD;
}*/

.summary h3{
  color:#ff6045;
}

/*project*/
.projects{
  border-radius: 10px;
  background-color: #0944AD;
  color:#fff;
  font-family: 'Anton', sans-serif;
  height:56vh;
  overflow-y: scroll;
  padding: 5px 15px;
  border:5px solid #0944AD;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 8px 1px #000000; 
  box-shadow: 0px 2px 8px 1px #000000;
}

/*.projects::-webkit-scrollbar-thumb {
  background:  #ff6045;
}*/


.projects li{
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.projects span{
  letter-spacing: 1px;
  font-weight:700;
}

.projects a{
  color:#fff;
  text-decoration: underline;
}

.projects p{
  margin-top:5px;
  color:#fff;
}



/*gt css*/
#gt{
  position:fixed;
  bottom:0;
  left:0;
  width:100vw;
  display:flex;
  padding:0;
}

#gt button{
  width:12.5vw;
  border:0px;
  padding:10px;
  font-weight: bold;
  color:#fff;
  font-family: 'Orbitron', sans-serif;
}

#do1{
background-color:#ff0000;
}
#re{
background-color:#ffa500;
}
#mi{
background-color:#ffff00;
}
#fa{
background-color:#02c702;
}
#sol{
background-color:#008000;
}
#la{
background-color:#0078ff;
}
#ti{
background-color:#2200ff;
}
#do2{
background-color:#800080;
}




/*media breakpoint*/
@media screen and (max-width:1450px){
  .video iframe{
  width:400px;
  height: 225px;
  }
}


@media screen and (max-width:1200px) {
  #logo{
    display: flex;
    justify-content: center;
  }
  #heading{
    display:flex;
    justify-content: center;
  }
  .head{
    display:flex;
    width:300px;
    padding-bottom:20px;
  }

  .head90{
    display:none;
  }
}

@media screen and (max-width:1000px) {
  .video iframe{
  width:280px;
  height: 157px;
  }
}

@media screen and (max-width:800px) {

  #forecast{
    display:flex;
    justify-content: center;
  }

  #forecast h5{
    font-size: 13px;
  }

  .display-clock{
    font-size: 13px;
  }

  .display-date{
    font-size: 13px;
  }

}

@media screen and (max-width:760px) {
  .video iframe{
  width:400px;
  height: 225px;
  }

  .summary, .projects, .qWrapper, .prayer-container{
    overflow-y: visible;
    height:auto;
  }

  .prayer-container{
    margin-top: 10px
  }

  .youtube{
    margin-bottom:30px;
  }
}

@media screen and (max-width:500px) {
  .video iframe{
  width:300px;
  height: 168px;
  }

  #logo img{
    width:300px;
  }
  
  td{
    font-size:16px;
  }
}

@media screen and (max-width:400px){
  .video iframe{
  width:250px;
  height: 140px;
  }
}